<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Iconos y comportamiento (BOXICON)-->
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!--Bulma CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!--Estilos propios-->
    <link rel="stylesheet" href="../css/styles.css">
    <title>Productos</title>
</head>

<body>
    <!--Header-->
    <header>
        <div class="columns is-mobile container__login">
            <div class="column">
                <figure class="image is-4by3">
                    <a href="../../index.html">
                        <img src="../img/nav-img.png" alt="logo_atex">
                    </a>
                </figure>
            </div>
            <div class="column is-four-fifths">
                <div class="columns is-mobile icons__login">
                    <div class="column is-four-fifths">
                        <a href="login.html">
                            <i class='bx bx-user-circle bx-md' style='color:#ffffff'></i>
                        </a>
                    </div>
                    <div class="column icons__end">
                        <a href="detail_car.html">
                            <i class='bx bxs-cart bx-tada bx-md' style='color:#ffffff'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container__fields">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="Ingresa tu búsqueda">
                </div>
                <div class="select">
                    <select>
                        <option>Ninguna categoria seleccionada</option>
                        <option>Cubrebocas</option>
                        <option>Batas</option>
                        <option>Botas</option>
                        <option>Gorros</option>
                    </select>
                </div>
            </div>
        </div>
    </header>
    <!--Body-->
    <section>
        <div class="content">
            <div>
                <a class="subtitle" href="products.html">
                    <i class='bx bx-left-arrow-circle bx-xs'> Volver a productos</i>
                </a>
            </div>
            <h2 class="title">Detalle del carrito</h2>
            <!--Tabla con columnas porque es responsiva-->
            <div class="columns is-mobile table__main">
                <div class="column">Producto</div>
                <div class="column">Cantidad</div>
                <div class="column">Unitario</div>
                <div class="column">Monto</div>
            </div>
            <div class="columns is-mobile table__detail">
                <div class="column">
                    <span><img src="../img/kn95.jpg" alt=""></span>
                    <span>kn95</span>
                </div>
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="number" placeholder="1">
                        </div>
                    </div>
                </div>
                <div class="column">10</div>
                <div class="column">20</div>
            </div>
            <div class="columns is-mobile table__detail">
                <div class="column">
                    <span><img src="../img/cubrebocas.jpg" alt=""></span>
                    <span>plisado</span>
                </div>
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="number" placeholder="1">
                        </div>
                    </div>
                </div>
                <div class="column">5</div>
                <div class="column">15</div>
            </div>

            <!--Boton pagar-->
            <a class="button is-info is-medium is-fullwidth" href="sending_info.html">Pagar</a>
        </div>
    </section>

    <!--Footer-->
    <footer class="footer">
        <div class="columns is-mobile has-text-centered">
            <div class="column footer__col">
                <ul>
                    <li><a href="../../index.html">Inicio</a></li>
                    <li><a href="legal.html">Aviso legal</a></li>
                    <li><a href="contact_info.html">Contacto</a></li>
                </ul>
            </div>
            <div class="column">
                <a href="">
                    <i class='bx bxl-whatsapp'> 771-202-5252</i>
                </a>
                <br><br>
                <a href="">
                    <i class='bx bx-mail-send'>finanzas@atexcare.com</i>
                </a>
            </div>
        </div>
        <div class="content has-text-centered footer__bot">
            <p>
                <strong>Atex Care</strong> todos los derechos reservados 2021 ©️
                Puedes consultar más detalles en la página oficial de
                <a href="https://www.facebook.com/CUBREBOCAS.atex.care/">Facebook<i
                        class='bx bxl-facebook bx-tada'></i></a>.
                El contenido del sitio web esta protegido por derechos de autor
            </p>
        </div>
    </footer>
</body>

</html>