<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>

<body>
    <!--Header-->
    <header class="">
        <nav class="">
            <div>
                <img src="" alt="login">
                <img src="" alt="logo">
                <img src="" alt="carrito">
            </div>
            <h2>Detalle del carro</h2>
            <div>
                <table>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Monto</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </nav>
    </header>
    <!--Body-->
    <section>
        <!--Cuerpo-->
        <h3>Nombre de la categoria</h3>
        <div>
            <!--Producto N, se repite varias veces-->
            <img src="" alt="producto_n">
            <div>
                <img src="" alt="corazon">
                <p>$10.00</p>
                <p>producto (10)</p>
            </div>
        </div>

    </section>
    <!--Footer-->
    <footer>
        <a href="">Aviso de privacidad</a>
        <a href="">Contacto</a>
        <a href="">Derechos reservados</a>
        <!--Botones flotantes-->
    </footer>
</body>

</html>