<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Iconos y comportamiento (BOXICON)-->
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!--Bulma CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!--Estilos propios-->
    <link rel="stylesheet" href="../css/styles.css">
    <title>Iniciar sesión</title>
</head>

<body>
    <!--Header-->
    <div class="columns is-mobile container__slogan">
        <div class="column">
            <figure class="image">
                <a href="../../index.html"><img src="../img/nav-img.png" alt="logo_atex"></a>
            </figure>
        </div>
        <div class="column is-four-fifths text__slogan">
            <p class="subtitle is-6 is-primary">Protección en cualquier lugar y en todo momento</p>
        </div>
    </div>
    <header>
        <nav class="navbar is-primary">
            <!--Menu modo mobile-->
            <div class="navbar-brand">
                <a role="button" class="navbar-burger" id="burger">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <!--Datos del menu-->
            <div id="nav-links" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="../html/who.html">
                        ¿Quienes somos?
                    </a>

                    <a class="navbar-item" href="../html/products.html">
                        Productos
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="../html/login.html">
                                <strong>Iniciar sesión</strong>
                            </a>
                            <a class="button is-light" href="../html/register.html">
                                Registrate
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </nav>
    </header>
    <!--Body-->
    <section>
        <!--Cuerpo-->
        <div class="content">
            <h2>Iniciar sesión</h2>
            <form action="user.html">
                <div class="columns">
                    <div class="field column">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" type="email" placeholder="Correo electrónico">
                            <span class="icon is-small is-left">
                                <i class='bx bx-envelope'></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class='bx bx-check'></i>
                            </span>
                        </p>
                    </div>
                    <div class="field column">
                        <p class="control has-icons-left">
                            <input class="input" type="password" placeholder="Contraseña">
                            <span class="icon is-small is-left">
                                <i class='bx bxs-lock-alt'></i>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="field">
                    <p class="control">
                        <button class="button is-info is-medium is-fullwidth">
                            Iniciar sesión
                        </button>
                    </p>
                </div>
            </form>
            <div class="content has-text-centered login__section">
                <a href="">¿Olvido su contraseña?</a><br>
                <span>Es un nuevo usuario, Registrese <a href="register.html">aquí</a></span>
            </div>
        </div>
    </section>

    <!--Footer-->
    <footer class="footer">
        <div class="columns is-mobile has-text-centered">
            <div class="column footer__col">
                <ul>
                    <li><a href="../../index.html">Inicio</a></li>
                    <li><a href="legal.html">Aviso legal</a></li>
                    <li><a href="contact_info.html">Contacto</a></li>
                </ul>
            </div>
            <div class="column">
                <a href="">
                    <i class='bx bxl-whatsapp'> 771-202-5252</i>
                </a>
                <br><br>
                <a href="">
                    <i class='bx bx-mail-send'>finanzas@atexcare.com</i>
                </a>
            </div>
        </div>
        <div class="content has-text-centered footer__bot">
            <p>
                <strong>Atex Care</strong> todos los derechos reservados 2021 ©️
                Puedes consultar más detalles en la página oficial de
                <a href="https://www.facebook.com/CUBREBOCAS.atex.care/">Facebook<i
                        class='bx bxl-facebook bx-tada'></i></a>.
                El contenido del sitio web esta protegido por derechos de autor
            </p>
        </div>
    </footer>
    <script src="../js/menu.js"></script>
</body>

</html>