<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>

<body>
    <!--Header-->
    <header class="">
        <nav class="">
            <div>
                <img src="" alt="login">
                <img src="" alt="logo">
                <img src="" alt="carrito">
            </div>
            <div>
                <select name="" id="">
                    <option value="">Categoria</option>
                </select>
            </div>
        </nav>
    </header>
    <!--Body-->
    <section>
        <!--Cuerpo-->
        <h1>Producto X</h1>
        <h3>Descripción breve</h3>
        <img src="" alt="favoritos">
        <div>
            <!--Producto X-->
            <img src="" alt="producto_x">
            <div>
                <img src="" alt="peso">
                <p>$10.00</p>
                <input type="number" name="" id="cantidad">
                <a href="">Añadir al carro</a>
            </div>
        </div>

        <!--Características-->
        <div>
            <img src="" alt="algo">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium odit deleniti aliquam amet nostrum
                placeat sunt minima nam odio voluptatibus magni numquam tempore, et accusantium beatae reprehenderit,
                unde perferendis quia.</p>
            <img src="" alt="algo">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium odit deleniti aliquam amet nostrum
                placeat sunt minima nam odio voluptatibus magni numquam tempore, et accusantium beatae reprehenderit,
                unde perferendis quia.</p>
        </div>
    </section>
    <!--Footer-->
    <footer>
        <a href="">Aviso de privacidad</a>
        <a href="">Contacto</a>
        <a href="">Derechos reservados</a>
        <!--Botones flotantes-->
    </footer>
</body>

</html>