<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quienes somos?</title>
</head>

<body>
    <!--Header-->
    <header class="">
        <nav class="">
            <div>
                <img src="" alt="logo">
                <a href="#" class="nav__logo">Protección en cualquier lugar y en todo momento</a>
            </div>
            <div class="" id="nav-men">
                <ul class="nav__list">
                    <li class=""><a href="#" class="nav__link active">¿Quienes somos?</a></li>
                    <li class=""><a href="#" class="nav__link">Productos</a></li>
                    <li class=""><a href="#" class="">Ingresar</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!--Body-->
    <section>
        <!--Cuerpo-->
        <h2>Registrar usuario</h2>
        <form action="" method="post">
            <h5>Información personal</h5>
            <input type="text" placeholder="Ingresa tu Nombre(s)">
            <input type="text" placeholder="Ingresa tu Primer Apellido">
            <input type="text" placeholder="Ingresa tu Segundo Apellido">
            <input type="text" placeholder="Ingresa tu Correo electrónico">
            <input type="text" placeholder="Ingresa tu Teléfono">
            <input type="password" placeholder="Ingresa tu Contraseña">
            <input type="submit" value="Ingresar">

        </form>
    </section>
    <!--Footer-->
    <footer>
        <a href="">Aviso de privacidad</a>
        <a href="">Contacto</a>
        <a href="">Derechos reservados</a>
        <!--Botones flotantes-->
    </footer>
</body>

</html>