/* ========== ROOT VARIABLES ========== */

/*---------GOOGLE FONTS---------*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

/*---------FONTS---------*/
:root{
    --font-atex: 'Permanent Marker', cursive;
    --font-care: 'Squada One', cursive;
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;
}

/*---------COLORS---------*/
:root{
    --first-color: #1471b7;
    --first-color-alt: #1b495f;
    --white-color: #ffffff;
    --dark-color: #584644;
    --dark-color-light: #738ac0;
    --gray-color: #b9b8b6;
}

@media screen and (min-width: 768px){
    :root{
        --big-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .813rem;
    }
}

/* --------- MARGINS ---------*/
:root{
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}

/* --------- z-index --------- */
:root{
    --z-tooltip: 10;
    --z-fixed: 10;
}

/* ===== BASE ====== */
body {
  margin: 0;
}

.nav__banner{
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-top: thick solid var(--dark-color);
    border-bottom: thick solid var(--dark-color);
    animation-name: top-text;
    animation-duration: 5s;
}

.nav__banner img{
    width: 100%;
    align-self: center;
    justify-self: center
}

.nav__banner span{
    align-self: center;
    justify-self: center;
    color: var(--first-color);
    text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: var(--first-color-alt);
}

.topnav a {
  float: left;
  display: block;
  color: var(--white-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--white-color);
  color: var(--first-color-alt);
}

.topnav .icon {
  display: none;
  padding: 9.5px;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* ========== KEY FRAMES ========== */
@keyframes top-text{
    0%{margin-left: 0px;}
    25%{margin-left: 100px;}
    50%{margin-left: 200px;}
    100%{margin-left: 0px;}
}