<!-- Encabezado -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!--Compatibiliad con los navegadores-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Iconos y comportamiento (BOXICON)-->
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!--Bulma CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!--JQuery Validation-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <!-- Swiper CSS-->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <title>{% block title %}{% endblock title %}</title>
    {% load static %}
    <!--Estilos propios-->
    <link rel="stylesheet" href="{% static 'demo/styles.css' %}">
    <!--Icono-->
    <link rel="icon" href="{% static 'demo/img/face-mask-solid-24.png' %}" type="image/x-icon">
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="{% static 'demo/magnific-popup.css' %}">
</head>

<body>
    {% block nav %}{% endblock nav %}
    <!--Loading que no funciona de la mejor manera-->
    <div id="load_div"></div>

    {% block body %}{% endblock body %}
    <!--Footer-->

    <footer class="footer">
        <div class="columns is-mobile has-text-centered">
            <div class="column footer__col">
                <ul>
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'quienes' %}">¿Quiénes somos?</a></li>
                    <li><a href="{% url 'productos' %}">Productos</a></li>
                    <li><a href="{% url 'legal' %}">Privacidad</a></li>
                </ul>
            </div>
            <div class="column">
                <a href="https://wa.me/+527712025052">
                    <i class='bx bxl-whatsapp'></i>771-202-5052
                </a>
                <br>
                <a href="mailto:finanzas@atexcare.com">
                    finanzas@atexcare.com
                </a>
            </div>
        </div>
        <div class="has-text-centered footer__bot">
            <p>
                <strong>Atex Care</strong> todos los derechos reservados 2021 ©️
                Puedes consultar más detalles en la página oficial de
                <a href="https://www.facebook.com/CUBREBOCAS.atex.care/">Facebook<i
                        class='bx bxl-facebook bx-tada'></i></a>.
                El contenido del sitio web esta protegido por derechos de autor
            </p>
        </div>
    </footer>
</body>
{% load static %}
<script src="{% static 'demo/js/loading-screen.js' %}"></script>