{% extends 'demo/menu_quienes.html' %}
{% block title %}Contacto{% endblock title %}
{% block body %}
<section>
    <!--Cuerpo-->
    <div class="content">
        <h2 class="subtitle">Contacto</h2>
        {% for message in messages %}
        <blockquote>
            {{message}}
        </blockquote>
        {% endfor %}
        <form action="{% url 'contacto' %}" method="POST" class="form-contact" id="contact-form">
            {% csrf_token %}
            <div class="field">
                <div class="control">
                    <input class="input" name="name" type="text" placeholder="Nombre completo o razón social"
                        minlength="5" required>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="message" placeholder="Motivo del mensaje" required
                        maxlength="20" minlength="5">
                </div>
            </div>
            <div class="columns is-mobile">
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="email" name="email" placeholder="correo@electronico.com"
                                required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-mobile">
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="number" name="cp" minlength="4" placeholder="codigo postal"
                                required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <!--Estado-->
                <div class="column">
                    <div class="select">
                        <select id="estado" name="estado" class="required">
                        </select>
                    </div>
                </div>
                <!--Municipio-->
                <div class="column">
                    <div class="select">
                        <select id="municipio" name="municipio" class="required">
                            <option value="">Selecciona un estado primero</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <textarea class="textarea" placeholder="Ingrese su mensaje" name="textarea" maxlength="250"
                        required></textarea>
                </div>
            </div>
            <button class="button is-info is-medium is-fullwidth" type="submit">Enviar</button>
        </form>
    </div>
</section>
{% load static %}
<script src="{% static 'demo/js/pais.js' %}"></script>
<script src="{% static 'demo/js/validar.js' %}"></script>
{% endblock body %}