{% extends 'demo/menu_login.html' %}
{% block title %}Detalle del carrito{% endblock title %}
{% block body %}
<section>
    <div class="content">
        <div>
            <a class="subtitle" href="{% url 'productos' %}">
                <i class='bx bx-left-arrow-circle bx-xs'> Volver a productos</i>
            </a>
        </div>
        <h2 class="title">Detalle del carrito</h2>
        <!--Tabla con columnas porque es responsiva-->
        <div class="columns is-mobile table__main">
            <div class="column">Producto</div>
            <div class="column">Cantidad</div>
            <div class="column">Unitario</div>
            <div class="column">Monto</div>
        </div>
        <div class="columns is-mobile table__detail">
            <div class="column">
                {% load static %}
                <span><img src="{% static 'demo/img/kn95.jpg' %}" alt="kn95"></span>
                <span>kn95</span>
            </div>
            <div class="column">
                <div class="field">
                    <div class="control">
                        <input class="input" type="number" placeholder="1">
                    </div>
                </div>
            </div>
            <div class="column">10</div>
            <div class="column">20</div>
        </div>
        <div class="columns is-mobile table__detail">
            <div class="column">
            {% load static %}
                <span><img src="{% static 'demo/img/cubrebocas.jpg' %}" alt="cubre"></span>
                <span>plisado</span>
            </div>
            <div class="column">
                <div class="field">
                    <div class="control">
                        <input class="input" type="number" placeholder="1">
                    </div>
                </div>
            </div>
            <div class="column">5</div>
            <div class="column">15</div>
        </div>

        <!--Boton pagar-->
        <a class="button is-info is-medium is-fullwidth" href="{% url 'envio' %}">Pagar</a>
    </div>
</section>
{% block scripts %}
{% load static %}
<script src="{% static 'demo/js/menu.js' %}"></script>
{% endblock scripts %}
{% endblock body %}