{% extends 'demo/menu_login.html' %}
{% block title %}Detalle del carrito{% endblock title %}
{% block body %}
<section>
    <div class="content">
        <div>
            <a class="subtitle" href="{% url 'productos' %}">
                <i class='bx bx-left-arrow-circle bx-xs'> Volver a productos</i>
            </a>
        </div>
        {% if totalArticulos > 0 %}
        <h2 class="title">Tu carrito de compras</h2>
        <h3 class="subtitle">({{totalArticulos}} artículos)</h3>
        {% for o in objetos %}
        <div class="body-carrito">
            <div class="columns is-mobile is-vcentered head-carrito">
                <div class="column is-two-thirds">
                    <h4>{{o.producto.name}}</h4>
                </div>
                <div class="xbtn column">
                    <button class="button is-outlined is-small"><i class='bx bx-x'></i></button>
                </div>
            </div>
            <div class="columns is-mobile carrito">
                <div class="column">
                    <img src="{{o.producto.image.url}}" alt="{{o.producto.name}}">
                </div>
                <div class="column is-two-thirds">
                    <p>{{o.producto.short_description}}</p>
                    <p class="stock">Límite en stock: {{o.producto.stock}}</p>
                    <div class="columns">
                        <div class="xbtn column price">
                            <button class="button is-outlined">
                                <i class='bx bx-minus'></i>
                            </button>
                            <span> {{o.cantidad}} </span>
                            <button class="button is-outlined">
                                <i class='bx bx-plus'></i>
                            </button>
                        </div>
                        <div class="xbtn column">
                            <h4>$
                                <span class="price">{{o.monto}}</span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
        <!--Redefinir interfaz de cada elemento del carrito-->
        <!--Boton pagar-->
        <a class="button is-info is-medium is-fullwidth" href="{% url 'envio' %}">Pagar</a>
        {% else %}
        <h2 class="title">Sin artículos</h2>
        <h5>Parece que aún no has añadido artículos, puedes agregar artículos en cualquier momento 😷</h5>
        {% endif %}
    </div>
</section>
{% load static %}
<script src="{% static 'demo/js/crud-car.js' %}"></script>
{% endblock body %}