{% extends 'demo/menu_quienes.html' %}
{% block title %}Detalle del carrito{% endblock title %}
{% block body %}
<section>
    <div class="content">
        <div>
            <a href="{% url 'productos' %}">
                <i class='bx bx-left-arrow-circle bx-xs'> Volver a productos</i>
            </a>
        </div>
        {% if totalArticulos > 0 %}
        <h2 class="title">Tu carrito de compras</h2>
        <h3 class="subtitle">({{totalArticulos}} artículos)</h3>
        {% for o in objetos %}
        {% csrf_token %}
        <div class="body-carrito" id="{{o.id}}">
            <div class="columns is-mobile is-vcentered head-carrito">
                <div class="column is-two-thirds">
                    <h4><a href="{% url 'producto' o.producto.id %}">{{o.producto.name}}</a></h4>
                </div>
                <div class="xbtn column">
                    <button class="button is-outlined is-small deleteItem"><i class='bx bx-x'></i></button>
                </div>
            </div>
            <div class="columns is-mobile carrito">
                <div class="column">
                    <img src="{{o.producto.image.url}}" alt="{{o.producto.name}}">
                </div>
                <div class="column is-two-thirds xbtn">
                    <p class="stock">Límite en stock: <span>{{o.producto.stock}}</span></p>
                    <p class="xbtn  price">
                        <button class="button is-outlined cantidadItem">
                            <i class='bx bx-minus'></i>
                        </button>
                        <span class="cant"> {{o.cantidad}} </span>
                        <button class="button is-outlined cantidadItem">
                            <i class='bx bx-plus'></i>
                        </button>
                    </p>
                    <h4 class="xbtn">$
                        <span class="price mont" precio="{{o.producto.price}}">{{o.monto}}</span>
                    </h4>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
        <br>
        <div class="columns pagar is-vcentered">
            <div class="column">
                <p class="title has-text-centered">Total: $<span id="a_pagar"></span></p>
            </div>
            <div class="column xbtn">
                <button id="checkout" class="button is-info is-fullwidth is-medium">Pagar</button>
            </div>
        </div>
        <!--Modal para corroborar los datos-->
        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <h3 class="modal-card-title">Detalles de la compra</h3>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <!-- Content ... -->
                    <form id="form_generar">
                        {% csrf_token %}
                        <div class="columns">
                            <div class="column">
                                <h3 class="title">Modalidad de envío</h3>
                                <div class="control has-icons-left">
                                    <div class="select">
                                        <select>
                                            <option cost="160" value="estafeta">Estafeta</option>
                                            <option cost="120" value="dhl">DHL</option>
                                            <option cost="100" value="estrella">Estrella blanca (Querétaro)</option>
                                            <option cost="0" value="sucursal">Recoger en sucursal</option>
                                        </select>
                                    </div>
                                    <div class="icon is-small is-left">
                                        <i class='bx bx-trip'></i>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <h3 class="title">Modalidad de pago</h3>
                                <div class="control has-icons-left">
                                    <div class="select">
                                        <select>
                                            <option selected>Depósito a cuenta</option>
                                            <!-- <option>Pay Pal</option> -->
                                            <!-- <option>Tarjeta de débito o crédito</option> -->
                                        </select>
                                    </div>
                                    <div class="icon is-small is-left">
                                        <i class='bx bx-money'></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input name="terminos_check" type="checkbox" required>
                                    Al realizar el pedido estoy de acuerdo con la <a href="{% url 'legal' %}">Política
                                        de
                                        privacidad</a> del
                                    servicio.
                                </label>
                            </div>
                        </div>
                        <h3 class="title">Detalle del envío</h3>
                        <p id="envio"></p>
                        <p>Dirección: {{request.user.profile.direccion}}, {{request.user.profile.municipio}},
                            {{request.user.profile.estado}} ext. {{request.user.profile.numero_ext}}
                            int.{{request.user.profile.numero_int}}, C.P. {{request.user.profile.cp}}
                            <br>Entre calle: {{request.user.profile.entre_calle}} y calle:
                            {{request.user.profile.entre_calle_2}}
                            <a href="{% url 'user' %}">Cambiar dirección</a>
                        </p>
                        <h3 class="title">A pagar: $<span id="orden" user="{{request.user}}"></span></h3>
                        <div class="columns">
                            <div class="column">
                                <button type="submit" id="generar" class="button is-medium is-fullwidth is-info">Generar
                                    orden de
                                    compra</button>
                            </div>
                            <div class="column">
                                <button class="button is-medium is-fullwidth is-light">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        {% else %}
        <br>
        <h2 class="title">Sin artículos</h2>
        <br>
        <h5>Parece que aún no has añadido artículos, puedes agregar artículos en cualquier momento 😷</h5>
        <br><br><br>
        {% endif %}
    </div>
</section>
{% load static %}
<script src="{% static 'demo/js/crud-car.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
{% endblock body %}