{% extends 'demo/menu_quienes.html' %}
{% block title %}Atex Care{% endblock title %}
{% block body %}

<section>
    <!--Carrusel-->
    {% load static %}

    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="https://images.unsplash.com/photo-1584961958654-fea280e63da5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"
                    alt="face-mask">
                <div class="container-call">
                    <strong>Protección en todo lugar y en todo momento</strong>
                    <p>Somos fabricantes y distribuidores, entregas en toda la república</p>
                    <br>
                    <a href="{% url 'productos' %}" class="button is-info is-medium ">Ver productos</a>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="https://images.unsplash.com/photo-1584634428004-1180accbcc9a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=749&q=80"
                    alt="">
                <div class="container-call">
                    <strong>Protección en todo lugar y en todo momento</strong>
                    <p>Somos fabricantes y distribuidores, entregas en toda la república</p>
                    <br>
                    <a href="{% url 'productos' %}" class="button is-info is-medium ">Ver productos</a>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="https://images.unsplash.com/photo-1603285992455-24292e6defce?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"
                    alt="">
                <div class="container-call">
                    <strong>Protección en todo lugar y en todo momento</strong>
                    <p>Somos fabricantes y distribuidores, entregas en toda la república</p>
                    <br>
                    <a href="{% url 'productos' %}" class="button is-info is-medium ">Ver productos</a>
                </div>
            </div>
        </div>
    </div>
    <div class="float-button">
        <div class="redes">
            <a href="https://wa.me/+527712025052" class="bx bxl-whatsapp bx-md hide-buttons" target="_blank"></a>
            <a href="https://m.me/CUBREBOCAS.atex.care" class="bx bxl-messenger bx-md hide-buttons" target="_blank"></a>
        </div>
        <button id="btn-plus" class="btn-plus">
            <i class="bx bx-plus-medical bx-md "></i>
        </button>
    </div>
</section>
<section>
    <!--Cuerpo-->
    <div class="content landing">
        <h1 class="section__text"><a href="{% url 'quienes' %}">¿Quiénes somos?</a></h1>
        <div class="columns">
            <div class="column">
                <p class="fuente__base-justify">Una empresa 100% mexicana, orientada primariamente a atender el mandato
                    del
                    sector salud,
                    basándonos en
                    la fabricación y
                    comercialización de insumos médicos de la más alta calidad, cumpliendo con la normatividad
                    existentes
                    dentro del sector,
                    garantizando la seguridad en todo momento durante el uso de nuestros productos, estos son
                    elaborados con
                    telas 100%
                    polipropilenas.</p>
                <a class="button is-info is-medium" href="{% url 'quienes' %}">Conocer más</a>
            </div>

            <div class="column">
                {% load static %}
                <img class="desc__img" src="{% static 'demo/img/1.jpeg' %}" alt="quienes_somos">
            </div>
        </div>

        <h1 class="section__text"><a href="{% url 'productos' %}">Ofertas</a></h1>
        <div class="columns">
            <div class="column">
                <!--Prueba Swiper-->
                <!-- Swiper -->
                <div class="swiper-container2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="{% static 'demo/img/atex_01.jpg' %}" alt=""></div>
                        <div class="swiper-slide"><img src="{% static 'demo/img/atex_02.jpg' %}" alt=""></div>
                        <div class="swiper-slide"><img src="{% static 'demo/img/atex_03.jpg' %}" alt=""></div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
                <!--Prueba Swiper-->
            </div>
            <div class="column">
                <p class="fuente__base-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam
                    asperiores voluptatum possimus fuga dolorum dolore vitae quasi, natus aliquid autem maiores quidem
                    laudantium esse in atque tempore ea nihil quibusdam?</p>
                <a href="{% url 'productos' %}" class="button is-info is-medium">Conocer más</a>
            </div>
        </div>
        <h1 class="section__text"> <a href="{% url 'productos' %}">Ultimos productos</a></h1>
        <div class="columns">
            <div class="column">
                <p class="fuente__base-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quaerat
                    ea, voluptatem consequuntur porro quis blanditiis molestiae impedit eligendi totam non eius est
                    dolorem repellat deserunt cumque ab, aliquid odio?</p>
                <a href="{% url 'productos' %}" class="button is-info is-medium">Conocer más</a>
            </div>
            <div class="column">
                {% load static %}
                <img class="desc__img" src="{% static 'demo/img/3.jpg' %}" alt="quienes_somos">
            </div>
        </div>

        <h1 class="section__text">Contáctanos</h1>
        <div class="body-carrito">
            {% for message in messages %}
            <blockquote>
                {{message}}
            </blockquote>
            {% endfor %}
            <form action="{% url 'index' %}" method="POST" class="form-contact" id="contact-form">
                {% csrf_token %}
                <div class="field">
                    <label class="label">Nombre completo o razón social</label>
                    <div class="control">
                        <input class="input" name="name" type="text" placeholder="Juan Pérez" minlength="5" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Motivo del mensaje</label>
                    <div class="control">
                        <input class="input" type="text" name="message" placeholder="Me interesa cotizar" required
                            maxlength="25" minlength="5">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Correo electrónico</label>
                    <div class="control">
                        <input class="input" type="email" name="email" placeholder="correo@electronico.com" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Mensaje</label>
                    <div class="control">
                        <textarea class="textarea" placeholder="Ingrese su mensaje" name="textarea" maxlength="250"
                            required></textarea>
                    </div>
                </div>
                <button class="button is-info is-medium is-fullwidth" type="submit">Enviar</button>
            </form>
        </div>
    </div>
</section>
{% load static %}
<script src="{% static 'demo/js/background.js' %}"></script>
<script src="{% static 'demo/js/validar.js' %}"></script>
<!-- Swiper JS-->
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
{% endblock body %}