{% extends 'demo/menu_quienes.html' %}
{% block title %}Atex Care{% endblock title %}
{% block body %}
<section>
    <!--Carrusel-->
    {% load static %}
    <div class="column container__img" id="slide">
        <div class="column has-text-centered">
            <strong>Insumos médicos de calidad</strong>
            <br>
            <a href="{% url 'productos' %}" class="button is-info is-medium ">Ver productos</a>
        </div>
    </div>
</section>
{% load static %}
<!-- Parece mejor opcion usar JS Sweeper-->
<script src="{% static 'demo/js/background.js' %}"></script>
{% endblock body %}