{% extends 'demo/menu_quienes.html' %}
{% block title %}Política de privacidad{% endblock title %}
{% block body %}
<section>
    <div class="content has-text-justified">
        <h2 class="title">
            Política de privacidad
        </h2>
        <p class="fuente__base-justify">Bienvenido al sitio de Atex Care, este sitio es una compañía afiliada de
            Comercializadora Allfind S. de R.L.
            de
            C.V.
            (‘Smarttek’) con domicilio Felipe Ángeles 18. Centro. Ixmiquilpan. Hidalgo. Este Aviso de Privacidad está
            creado para
            informarle sobre la recopilación de sus datos personales, se le recomienda antes de proporcionar información
            a el sitio,
            favor de leer detalladamente el aviso privacidad.

            Comercializadora Allfind S. de R.L. de C.V. ha establecido y mantiene las medidas de seguridad,
            administrativas,
            técnicas y físicas que le permiten proteger sus datos personales contra daño, pérdida, alteración,
            destrucción, acceso o
            tratamiento no autorizado, en términos de la legislación aplicable.

            El aviso de privacidad contempla en todo momento los principios de consentimiento, lealtad y responsabilidad
            de los
            datos personales ingresados en este sitio:</p>
        <br>
        <h4 class="title">
            Consentimiento
        </h4>
        <p class="fuente__base-justify">
            Al usar o proporcionar información, usted está de acuerdo con los términos de este Aviso de Privacidad,
            Datos de
            identificación y contacto:
        </p>
        <div class="columns fuente__base-justify">
            <div class="column">
                <strong>
                    Datos personales
                </strong>
                <ul>
                    <li>
                        Nombre completo / Razón Social.
                    </li>
                    <li>
                        RFC.
                    </li>
                    <li>
                        Domicilio (calle, colonia, CP, estado y cuidad).
                    </li>
                    <li>
                        Número telefónico móvil
                    </li>
                    <li>
                        Número telefónico fijo
                    </li>
                </ul>
            </div>
            <div class="column">
                <strong>
                    Datos bancarios
                </strong>
                <ul>
                    <li>Número de Tarjeta de Crédito/débito</li>
                    <li>CVC</li>
                    <li>Fecha de vencimiento de tarjeta de crédito/débito</li>
                </ul>
            </div>
        </div>
        <h4>Finalidad de uso de la información</h4>
        <p class="fuente__base-justify">
        <ul>
            <li>Establecer y verificar la identidad de los usuarios.</li>
            <li>Mantener la seguridad e integridad de nuestros sistemas, nuestras instalaciones y nuestro personal.
            </li>
            <li>Verificar la identidad de aquellas personas que visitan nuestras instalaciones.</li>
        </ul>
        </p>
        <h4>Cambios en el aviso de privacidad</h4>
        <p class="fuente__base-justify">Si este Aviso de privacidad cambia o se modifica, será publicada en este sitio.
            Por favor
            verificar
            periódicamente,
            especialmente antes de proporcionar cualquier información personal.</p>
    </div>
</section>
{% endblock body %}