{% extends 'demo/menu_quienes.html' %}
{% block title %}Iniciar sesión{% endblock title %}
{% block body %}
<section>
    <!--Cuerpo-->
    <div class="content">
        <h2>Iniciar sesión</h2>
        {% for message in messages %}
        <blockquote>
            {{message}}
        </blockquote>
        {% endfor %}
        <form method="POST" id="login-form" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="columns">
                <div class="field column">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" name="username" type="text" placeholder="Nombre de usuario" required>
                        <span class="icon is-small is-left">
                            <i class='bx bxs-user'></i>
                        </span>
                    </p>
                </div>
                <div class="field column">
                    <p class="control has-icons-left">
                        <input class="input" type="password" name="password" placeholder="Contraseña" required>
                        <span class="icon is-small is-left">
                            <i class='bx bxs-lock-alt'></i>
                        </span>
                    </p>
                </div>
            </div>
            <div class="field">
                <p class="control">
                    <button type="submit" class="button is-info is-medium is-fullwidth">
                        Iniciar sesión
                    </button>
                </p>
            </div>
        </form>
        <div class="content has-text-centered login__section">
            <a href="{% url 'password_reset' %}">¿Olvido su contraseña?</a><br>
            <span>Es un nuevo usuario, Registrese <a href="{% url 'registro' %}">aquí</a></span>
        </div>
    </div>
</section>
{% load static %}
<script src="{% static 'demo/js/validar.js' %}"></script>
{% endblock body %}