{% extends 'demo/base.html' %}
{% block nav %}
<!--Header-->
<header>
    <nav class="navbar is-fixed-top is-primary fuente__base-justify">
        <!--Menu modo mobile-->
        <div class="container__slogan">
            <!-- La oferta o algo que se necesite promocionar inmediatamente -->
            <p class="is-primary">¡Promociones de la semana!</p>
        </div>
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'index' %}">
                {% load static %}
                <img src="{% static 'demo/img/logo-texto.png' %}">

            </a>
            <a role="button" class="navbar-burger" id="burger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <!--Datos del menu-->
        <div id="nav-links" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'quienes' %}">
                    <i class='bx bxs-face-mask'></i> ¿Quienes somos?
                </a>

                <a class="navbar-item" href="{% url 'productos' %}">
                    <i class='bx bxs-shopping-bags'></i> Productos
                </a>
                {% if user.is_authenticated %}
                <a href="{% url 'user' %}"" class=" navbar-item">
                    <i class='bx bx-user-circle'></i> Perfil de {{request.user}}
                </a>

                <a href="{% url 'detalle_carrito' %}" class="navbar-item">
                    <i class='bx bxs-cart bx-tada'></i> Carrito
                </a>
                {% endif %}

            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    {% if user.is_authenticated %}
                    <a id="sesion" class="button is-primary" href="{% url 'logout' %}">
                        <strong><i class='bx bxs-door-open'></i> Cerrar sesión</strong>
                    </a>
                    {% else %}
                    <div class="buttons">
                        <a id="sesion" class="button is-primary" href="{% url 'login' %}">
                            <strong>Iniciar sesión</strong>
                        </a>
                        <a id="registro" class="button is-light" href="{% url 'registro' %}">
                            Registrate
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </nav>
</header>
<script src="{% static 'demo/js/menu.js' %}"></script>
{% endblock nav %}