{% extends 'demo/base.html' %}
{% block nav %}
<header>
    <div class="columns is-mobile container__login">
        <div class="column">
            <figure class="image">
                <a href="{% url 'index' %}">
                    {% load static %}
                    <img src="{% static 'demo/img/nav-img.png' %}" alt="logo_atex">
                </a>
            </figure>
        </div>
        <div class="column is-four-fifths">
            <div class="columns is-mobile icons__login">
                <div class="column is-four-fifths">
                    <a href="{% url 'user' %}">
                        <i class='bx bx-user-circle bx-md' style='color:#ffffff'></i>
                    </a>
                </div>
                <div class="column icons__end">
                    <a id="open-cart">
                        <i class='bx bxs-cart bx-tada bx-md' style='color:#ffffff'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script async src="https://cdn.snipcart.com/themes/v3.1.0/default/snipcart.js"></script>
    <div hidden id="snipcart" data-config-modal-style="side"
        data-api-key="ZjQzODE5ZTYtYWQxMy00Njc3LWE4OGUtMjFlMjVhY2UyODlkNjM3NTM1ODA3Mjg2Njk1NDk3">
    </div>
</header>
{% load static %}
<script src="{% static 'demo/js/cart.js' %}"></script>
{% endblock nav %}