{% extends 'demo/base.html' %}
{% block nav %}
<!--Header-->
<div class="columns is-mobile container__slogan">
    <div class="column">
        <figure class="image">
            {% load static %}
            <a href="{% url 'index' %}"><img src="{% static 'demo/img/nav-img.png' %}" alt="logo_atex"></a>
        </figure>
    </div>
    <div class="column text__slogan">
        <p class="subtitle is-6 is-primary">Protección en cualquier lugar y en todo momento</p>
    </div>
</div>
<header>
    <nav class="navbar is-primary">
        <!--Menu modo mobile-->
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" id="burger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <!--Datos del menu-->
        <div id="nav-links" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'quienes' %}">
                    ¿Quienes somos?
                </a>

                <a class="navbar-item" href="{% url 'productos' %}">
                    Productos
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{% url 'login' %}">
                            <strong>Iniciar sesión</strong>
                        </a>
                        <a class="button is-light" href="{% url 'registro' %}">
                            Registrate
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </nav>
</header>
{% endblock nav %}