{% extends 'demo/menu_quienes.html' %}
{% block title %}Reestablecer contraseña{% endblock title %}
{% block body %}
<section>
    <!--Cuerpo-->
    <div class="content reset">
        <h2>Reiniciar tu contraseña</h2>
        <p>Si has olvidado tu contraseña y deseas reestablecerla, por favor ingresa tu correo electrónico</p>
        <form method="post">
            {% csrf_token %}
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Correo electrónico</label>
                        <div class="control">
                            {{form.email}}
                        </div>
                    </div>
                </div>
                <div class="column">
                    <input type="submit" name="Send email" class="button is-info is-medium">
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock body %}