{% extends 'demo/menu_quienes.html' %}
{% block title %}Reestablecer contraseña{% endblock title %}
{% block body %}
<section>
    <div class="content reset">
        <h2>Un paso más...</h2>
        <p>Los detalles para reestablecer tu contraseña han sido enviados al correo proporcionado, este correo debe ser
            aquel que registraste cuando te diste de alta como usuario</p>
        <p>Es probable que el correo se encuentre en la bandeja de correo no deseado o SPAM, asegurate de echarle un
            vistazo 😉</p>
    </div>
</section>
{% endblock body %}