{% extends 'demo/menu_quienes.html' %}
{% block title %}Reestablecer contraseña{% endblock title %}
{% block body %}
{% if form %}
<section>
    <div class="content reset">
        <h3>Cambio de contraseña</h3>

        <p>Por favor ingresa tu contrseña dos veces, así podremos asegurarnos de que la has introducido correctamente.
        </p>

        <form method="post">

            {% csrf_token %}
            <div class="columns is-vcentered">
                <div class="column">
                    <div class="field">
                        <label for="">Nueva contraseña</label>
                        <div class="control">
                            {{form.new_password1}}
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label for="">Repite tu contraseña</label>
                        <div class="control">
                            {{form.new_password2}}
                        </div>
                    </div>
                </div>
                <div class="column">
                    <input type="submit" name="Send email" class="button is-info is-fullwidth is-medium">
                </div>
            </div>
        </form>
    </div>
    {% else %}
    <div class="content reset">
        <h3>Código expirado 😓</h3>
        <br><br><br>
        <p>Parece que el código para cambiar la contraseña ha expirado, por favor vuelve a intentarlo.
            <a href="{% url 'password_reset' %}">Da click aquí</a>
        </p>
        <br><br>
    </div>
    {% endif %}
    </div>
</section>
{% load static %}
<script src="{% static 'demo/js/resets.js' %}"></script>
{% endblock body %}