{% extends 'demo/menu_quienes.html' %}
{% block title %}Reestablecer contraseña{% endblock title %}
{% block body %}
<section>
    <!--Cuerpo-->
    <div class="content reset">
        <h2>Reiniciar tu contraseña</h2>
        <br><br>
        <p>Si has olvidado tu contraseña y deseas reestablecerla, por favor ingresa tu <strong>correo
                electrónico</strong> 📧</p>
        <form method="post">
            {% csrf_token %}
            <div class="columns is-vcentered">
                <div class="column is-two-thirds">
                    <div class="field">
                        <div class="control">
                            {{form.email}}
                        </div>
                    </div>
                </div>
                <div class="column">
                    <input type="submit" name="Send email" class="button is-info is-fullwidth is-medium">
                </div>
            </div>
        </form>
        <br><br><br>
    </div>
</section>
{% load static %}
<script src="{% static 'demo/js/resets.js' %}"></script>
{% endblock body %}