{% extends 'demo/menu_quienes.html' %}
{% block title %}Reestablecer contraseña{% endblock title %}
{% block body %}
{% if form %}
<section>
    <div class="content reset">
        <h3>Cambio de contraseña</h3>

        <p>Por favor ingresa tu contraseña dos veces, así podremos asegurarnos de que la has introducido correctamente.
            toma en cuenta las siguiente consideraciones:
        <ul>
            <li>La contraseña no debe estar relacionada con algún dato del usuario (nombre de ususario, Nombre(s),
                Apellido(s) o email)</li>
            <li>Debe contener al menos 8 caracteres</li>
            <li>No debe ser una contraseña común <a
                    href="https://gist.github.com/roycewilliams/281ce539915a947a23db17137d91aeb7"
                    target="_blank">listado de contraseñas
                    comunes por Royce Williams.</a></li>
            <li>No puede ser una contraseña enteramente numérica</li>
        </ul>
        </p>
        {% if form.new_password1.errors or form.new_password2.errors %}
        <blockquote>Las contraseñas no coinciden o no cumplen con los requisitos mencionados anteriormente, por favor
            verifíquelas</blockquote>
        {% endif %}
        <div class="box">
            <form method="post">
                {% csrf_token %}
                <div class="columns is-vcentered">
                    <div class="column">
                        <div class="field">
                            <label for="">Nueva contraseña</label>
                            <div class="control">
                                {{form.new_password1}}
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label for="">Repite tu contraseña</label>
                            <div class="control">
                                {{form.new_password2}}
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <input type="submit" name="Send email" class="button is-info is-fullwidth is-medium">
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% else %}
    <div class="content reset">
        <h3>Código expirado 😓</h3>
        <br><br><br>
        <p>Parece que el código para cambiar la contraseña ha expirado, por favor vuelve a intentarlo.
            <a href="{% url 'password_reset' %}">Da click aquí</a>
        </p>
        <br><br>
    </div>
    {% endif %}
    </div>
</section>
{% load static %}
<script src="{% static 'demo/js/resets.js' %}"></script>
{% endblock body %}