{% extends 'demo/menu_quienes.html' %}
{% block title %}Reestablecer contraseña{% endblock title %}
{% block body %}
<section>
    <div class="content reset">
        <h2>Contraseña actualizada 😁</h2>
        <br><br>
        <p>¡Genial! Tu contraseña ha sido actualizada, ya puedes
            <a href="{% url 'login' %}">iniciar sesión</a> nuevamente, si persisten tus problemas
            de
            inicio de sesión puedes contactarnos al correo soporte@atexcare.com.mx
        </p>
        <br><br>
    </div>
</section>
{% endblock body %}