{% extends 'demo/menu_quienes.html' %}
{% block title %}Productos{% endblock title %}
{% block body %}
<!--Body-->
{% for field in productos.form %}
<form action="{% url 'productos' %}" method="GET">
    {% csrf_token %}
    <div class="container__search">
        <div class="field">
            <div class="control">
                {{field}}
            </div>
        </div>
    </div>
</form>
{% endfor %}
<section>
    <!--Cuerpo-->
    <div class="content">
        {% if tam < 1 %} <h2 class="title">No hay artículos en existencia</h2>
            <br>
            <h5 class="subtitle">Lo sentimos 😓</h5>
            <br>
            <p class="">Ningún resultado coincide con su búsqueda, trate a poner otra palábra o usar el modo
                singular de la palabra que buscó.</p>
            <br>
            {% else %}
            <h2 class="title">{{tam}} artículo(s) en existencia 😉</h2>
            <div class="has-text-centered container__products">
                {% for p in productos.qs %}
                <div class="column square__img">
                    <a href="{% url 'producto' p.id %}">
                        <img src="{{p.image.url}}" alt="cubrebocas">
                    </a>
                    <div class="products__desc">
                        <span>
                            <i class='bx bxs-badge-dollar bx-tada bx-sm' style='color:#12ad9f'></i>
                        </span>
                        <span class="price"><strong>{{p.price}}</strong></span>
                        {% if p.discount > 0 %}
                        <span class="discount"> -{{p.discount}}%</span>
                        {% endif %}
                        <p class="description">{{p.name}}</p>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
    </div>
</section>
{% load static %}
<script src="{% static 'demo/js/products.js' %}"></script>
{% endblock body %}