{% extends 'demo/menu_quienes.html' %}
{% block title %}{{producto.name}}{% endblock title %}
{% block body %}
<!--Body-->
<section>
    <!--Cuerpo-->
    <div class="content">
        <p>
            <a href="{% url 'productos' %}">
                <i class='bx bx-left-arrow-circle bx-xs'> Volver</i>
            </a>
        </p>
        <h2 class="title">{{producto.name}}</h2>
        <h5 class="subtitle">{{producto.short_description}}</h5>
        <div class="grid__container">
            <div class="grid__item purchase">
                <p class="stock"><span id="stock">{{producto.stock}}</span> en existencia
                    <span><i class='bx bx-dollar-circle'></i></span>
                    <span class="stock" usuario="{{request.user}}" producto="{{producto.id}}"
                        id="precio">{{producto.price}}</span>
                </p>
                <!--Producto mini galeria-->
                <a class="gallery" id="test-popup" href="{{producto.image.url}}">
                    {% for i in imagenes %}
                    <div class="hide" image="{{i.image.url}}"></div>
                    {% endfor %}
                    <img src="{{producto.image.url}}" width="50%" alt="cubre">
                    <i class='bx bxs-hand-up bx-burst bx-sm'></i>
                </a>
            </div>
            <div class="grid__item detail">
                <br>
                <article class="message is-primary">
                    <div class="message-body box">
                        <div class="botones">
                            <span>
                                <button id="menos" class="button is-primary price">
                                    -
                                </button>
                            </span>
                            <span class="price-p" id="cantidad">
                                1
                            </span>
                            <span>
                                <button id="mas" class="button is-primary price">
                                    +
                                </button>
                            </span>
                        </div>
                        <br>
                        <p class="price-p" id="total"></p>
                        <form id="carrito">
                            {% csrf_token %}
                            <button id="addCart" class="button is-info is-outlined is-medium is-fullwidth"
                                type="submit">Añadir
                                al
                                carrito</button>
                        </form>
                    </div>
                </article>
            </div>
        </div>
        <!--Características-->
        <h3>Descripción general</h3>
        <p class="fuente__base-justify">{{producto.long_description}}</p>
        {% if caracteristicas %}
        <h3 class="subtitle">Características</h3>
        {% for c in caracteristicas %}
        <div class="columns is-mobile fuente__base">
            <div class="column">{{c.name}}</div>
            <div class="column">{{c.feature}}</div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section>
{% load static %}
<script src="{% static 'demo/js/product-price.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{% static 'demo/js/jquery.magnific-popup.js' %}"></script>
{% endblock body %}