{% extends 'demo/menu_login.html' %}
{% block title %}Productos{% endblock title %}
{% block body %}
<!--Body-->
{% for field in productos.form %}
<form action="{% url 'productos' %}" method="GET">
    {% csrf_token %}
    <div class="container__fields">
        <div class="field">
            <div class="control">
                {{field}}
            </div>
        </div>
    </div>
</form>
{% endfor %}
<section>
    <!--Cuerpo-->
    <div class="content">
        <div class="has-text-centered container__products">
            {% for p in productos.qs %}
            <div class="column square__img">
                <a href="{% url 'producto' p.id %}">
                    <img src="{{p.image.url}}" alt="cubrebocas">
                </a>
                <div class="products__desc">
                    <span>
                        <i class='bx bxs-badge-dollar bx-tada bx-sm' style='color:#12ad9f'></i>
                    </span>
                    <span class="price"><strong>{{p.price}}</strong></span>
                    {% if p.discount > 0 %}
                    <span class="discount"> -{{p.discount}}%</span>
                    {% endif %}
                    <p class="description">{{p.name}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% load static %}
<script src="{% static 'demo/js/menu.js' %}"></script>
<script src="{% static 'demo/js/products.js' %}"></script>
{% endblock body %}