{% extends 'demo/menu_login.html' %}
{% block title %}Producto N{% endblock title %}
{% block body %}
<!--Body-->
<section>
    <!--Cuerpo-->
    <div class="content">
        <a class="subtitle" href="{% url 'productos' %}">
            <i class='bx bx-left-arrow-circle bx-xs'> Volver</i>
        </a>
        <br><br>
        <div class="columns is-mobile">
            <div class="column is-four-fifths">
                <h2 class="title">{{producto.name}}</h2>
                <h5 class="subtitle">{{producto.short_description}}</h5>
                <p class="subtitle" id="stock"><span>{{producto.stock}}</span> en existencia</p>
            </div>
            <div class="column has-text-centered">
                <a>
                    <i class='bx bx-heart bx-md ' style='color:#1870b2' id="heart-fav"></i>
                </a>
            </div>
        </div>
        <!--Producto mini galeria-->
        <div class="content">
            <figure>
                <img src="{{producto.image.url}}" alt="cubre">
            </figure>
            <!--Producto compras-->
            <div class="columns compra has-text-centered">
                <div class="column">
                    <span>
                        <span><i class='bx bx-dollar-circle bx-sm'></i></span>
                    </span>
                    <span class="price-p" id="precio">{{producto.price}}</span>
                </div>
                <div class="column">
                    <div class="field columns is-mobile">
                        <div class="control column">
                            <button id="menos" class="button is-primary price">
                                -
                            </button>
                        </div>
                        <div class="column price" id="cantidad">
                            0
                        </div>
                        <div class="control column">
                            <button id="mas" class="button is-primary price">
                                +
                            </button>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <p class="price" id="total"></p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <a class="button is-info is-medium is-fullwidth" href="{% url 'detalle_carrito' %}">Comprar</a>
                </div>
                <div class="column">
                    {% load static %}
                    <a class="button is-info is-outlined is-medium is-fullwidth" onclick="add()">Añadir al
                        carrito</a>
                </div>
            </div>
        </div>
        <!--Características-->
        <h3>Descripción general</h3>
        <h5>{{producto.long_description}}</h5>
        {% if caracteristicas.lenght > 0 %}
        <h3 class="subtitle">Características</h3>
        {% endif %}
        {% for c in caracteristicas %}
        <div class="columns">
            <div class="column price">{{c.name}}</div>
            <div class="column">{{c.feature}}</div>
        </div>
        {% endfor %}

    </div>
</section>
{% load static %}
<script src="{% static 'demo/js/product-price.js' %}"></script>
<script src="{% static 'demo/js/add.js' %}"></script>
{% endblock body %}