{% extends 'demo/menu_quienes.html' %}
{% block title %}Registro{% endblock title %}
{% block body %}
<section>
    <!--Cuerpo-->
    <div class="content">
        <h2>Registro</h2>
        <div class="box">
            <form id="form-registro" method="POST">
                {% csrf_token %}
                <div class="field">
                    <label class="label">Nombre(s)**</label>
                    <div class="control">
                        {{user.first_name}}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Apellido(s)**</label>
                    <div class="control">
                        {{user.last_name}}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Nombre de usuario**</label>
                    <div class="control">
                        {{user.username}}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Contraseña**</label>
                    <div class="control">
                        {{user.password}}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Correo electrónico**</label>
                    <div class="control">
                        {{user.email}}
                    </div>
                </div>
                <!-- Numero de celular -->
                <div class="field">
                    <label class="label">Número de celular**</label>
                    <div class="control">
                        {{profile.tel_1}}
                    </div>
                </div>
                <button class="button is-info is-medium is-fullwidth" type="submit">Registrar</button>
            </form>
        </div>
    </div>
</section>
{% load static %}
<script src="{% static 'demo/js/validar.js' %}"></script>
{% endblock body %}