{% extends 'demo/menu_quienes.html' %}
{% block title %}Perfil de {{request.user}}{% endblock title %}
{% block body %}
<section>
    <!--Cuerpo-->

    <div class="tabs is-centered">
        <ul>
            <li id="1">
                <a href="{% url 'user' %}">
                    <span class="icon is-small">
                        <i class='bx bxs-user-detail'></i>
                    </span>
                    <span>Editar Perfil</span>
                </a>
            </li>
            <li id="2">
                <a href="{% url 'user_history' %}">
                    <span class="icon is-small">
                        <i class='bx bxs-shopping-bag'></i>
                        </i></span>
                    <span>Compras</span>
                </a>
            </li>
        </ul>
    </div>
    <!--Páginas del usuario-->
    {% block content %}
    {% endblock content %}
</section>
{% load static %}
<script src="{% static 'demo/js/menu.js' %}"></script>
<script src="{% static 'demo/js/user.js' %}"></script>
{% endblock body %}