/*
    2. Definir mejores nombres
    3. Evitar usar important
    4. todo es mobile y los medias son para cosas mas grandes
    5. Dejar un espacio para los media querys
*/

/*Avoiding the horizontal scrolling*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/*Colors*/
:root{
    --color-primary: #12ad9f;
    --color-primary-reduced: rgba(33, 119, 112, 0.9);
    --color-secondary: rgba(255, 255, 255, 0.5);
    --color-black: #000000;
    --color-white: #FFFFFF;
}


/*---------------------------------------------------------------CSS Base*/
.fuente__base, .fuente__base-justify{
    line-height: 1.6;
    font-size: 1.15rem;
}
.fuente__base-justify{
    text-align: justify;
}
/*------------------------------------------------Sobreescritura de Bulma*/
.is-primary{
    color: var(--color-primary);
}

.content{
    padding: 25px;
    padding-top: 100px;
}

.help.is-danger{
    color: var(--color-primary);
}
/*-------------------------------------------------------Botones*/
.button.is-info{
    background-color: var(--color-primary);
    transition: all ease 0.5s;
}

.button.is-info:hover{
    background-color: var(--color-primary-reduced);
    transform: rotateX(360deg);
}

.button.is-info.is-outlined{
    background-color: transparent;
    border-color: var(--color-primary);
    color: var(--color-primary);
    transition: all ease 0.5s;
}

.button.is-info.is-outlined:hover{
    background-color: var(--color-primary-reduced);
    transform: rotateX(360deg);
}

.button.is-light{
    color: var(--color-primary);
    transition: all ease 0.5s;
}

.button.is-light:hover{
    color: var(--color-white);
    background-color: var(--color-primary-reduced);
    transform: rotateX(360deg);
}
/*-------------------------------------------------------Menú*/
.navbar-item{
    color: var(--color-primary);
}

.navbar-start .navbar-item:hover{
    color: var(--color-primary-reduced) !important;
}

.navbar-brand .navbar-item:hover{
    background-color: var(--color-primary-reduced) !important;
}

.navbar.is-primary, .is-primary{
    background-color: var(--color-primary);
}

.navbar-burger .icon{
    position: absolute;
    top: 0px;
    right: 0px;
}
/*-----------------------------------------------Slogan*/
.container__slogan p{
    background-color: var(--color-white);
    color: var(--color-primary);
    text-align: center;
    font-weight: bold;
    font-style: oblique;
}

/*-----------------------------------------------Landing*/
.content.landing{
    margin: 0;
    padding: 0;
}
.desc__img{
    box-shadow: 15px 15px 1px var(--color-primary);
    border: 3px solid var(--color-white);
    border-radius: 25px;
}

.float-button{
    z-index: 100;
    position: fixed;
    right: 25px;
    bottom: 25px;
}

.redes a, .redes a:link, .redes a:visited, .bx.bx-plus-medical{
    display: block;
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 2px 2px 35px rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
}

.redes a:hover{
    color: var(--color-primary);
    background-color: var(--color-white);
}

.hide-buttons{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}

.show-buttons{
    margin-bottom: 15px !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.section__text{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    text-decoration: overline var(--color-white) solid;
    text-shadow: 5px 5px 10px black;
    background-color: var(--color-primary);
    color: var(--color-white) !important;
}

.section__text a, .section__text a:link, .section__text a:visited{
    color: var(--color-white);
}

.content.landing .columns{
    padding: 25px;
}

/*Formulario de contacto*/
.form-contact{
    padding: 10px 15px 10px 15px;
}

/*Swiper principal*/

.swiper-container {
      width: auto;
      height: 100vh;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
/*Agrandar la imagen al 100%*/
    .swiper-slide img{
        width: 100% !important;
        height: 100% !important;
    }

    .swiper-container .container-call{
        position: absolute;
    }

    .container-call strong, .container-call p{
        color: var(--color-white);
        text-shadow: 5px 5px 5px var(--color-black);
    }

    .container-call p{
        font-size: 1.3rem;
        font-weight: bold;
    }

   .container-call strong{
        font-size: 2.15rem;
    }


/*Swiper Cubo*/

 .swiper-container2 {
      width: 300px;
      height: 400px;
      margin-left: auto;
      margin-right: auto;
    }

/*-----------------------------------------------Productos*/
.container__search{
    padding: 15px;
    padding-top: 0;
    background-color: var(--color-primary);
}

.container__products{
    display: grid;
    grid-template-columns: auto;
    margin: 10px;
}
.square__img{
    margin: 10px;
    padding: 0;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 30%)
}

.square__img img{
    width: 150px;
    height: 150px;
}

.description{
    padding: 2px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: bold;
    font-style: oblique;
}

.price{
    font-size: 1.3rem;
}

.price-p{
    font-size: 1.5rem;
}

.discount{
    color: var(--color-primary-reduced);
    font-style: oblique;
    font-weight: 500;
    font-size: 1.2rem;
}

button{
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
}

.compra{
    margin: 0 !important;
    align-items: center;
}

/*-----------------------------------------------Galería de producto N*/
.grid__container{
    display: grid;
    grid-template-columns: auto;
}

.grid__item{
    text-align: center;
    display: block;
    object-fit: fill;
}

.botones span{
    padding: 5px;
}
.grid__item.purchase, .grid__item.detail{
    margin: 5px;
    padding: 15px;
}
.grid__item.purchase{
    box-shadow: 2px 2px 35px rgba(18, 173, 159, 50%);
}

.columns.is-mobile.fuente__base{
    border: 3px groove;
    border-color: var(--color-secondary);
    margin-left: 5px;
    margin-right: 5px;
}

.columns.is-mobile.fuente__base .column:nth-child(odd){
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: bold;
}

.columns.is-mobile.fuente__base .column:nth-child(even){
    background-color: var(--color-white);
    text-align: center;
}
.gallery i{
    position: absolute;
    background-color: var(--color-primary);
    padding: 5px;
    border-radius: 50%;
    text-align: end;
    color: var(--color-white);
}

.hide{
    display: none;
}
/*-----------------------------------------------Carrito de compras*/
.body-carrito{
    margin: 15px;
    text-align: justify;
    box-shadow: 2px 2px 35px rgba(18, 173, 159, 50%);
}

.columns.is-mobile.head-carrito{
    margin: 0;
    padding: 20px;
    padding-bottom: 0;
}

.xbtn{
    text-align: end;
}

.title{
    color: var(--color-primary);
}

.columns.is-mobile.carrito{
    margin: 0;
    padding: 20px;
    padding-top: 0;
}
/*-----------------------------------------------Login*/

.login__section{
    margin-top: 35px;
    padding-top: 35px;
    border-top:2px solid;
    border-color: var(--color-primary-reduced);
}

/*-----------------------------------------------Usuario perfil*/
.accordion .title{
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
}
/*-----------------------------------------------Footer*/
.footer, .stock{
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--color-footer-text);
}

.footer{
    background-color: var(--color-secondary);
    padding: 25px;
    padding-top: 50px;
}

a, a:link, a:visited{
    color: var(--color-primary);
}

a:active, a:hover{
    color: var(--color-primary-reduced);
}

.footer__col{
    border-right-style: groove;
    border-right-color: var(--color-primary);
}


/************************************************************************Media Querys*/
@media screen and (min-width: 500px) {
    .container__products{
        grid-template-columns: auto auto;
    }
    .footer, .stock{
        font-size: 0.9rem;
    }
    .body-carrito{
        margin: 30px;
    }
    .columns.is-mobile.carrito{
        padding: 30px;
        padding-top: 0;
    }
    /*Este valor es calculado con el margin y padding del cuerpo del carrito*/
    .columns.pagar.is-vcentered{
        padding-right: 30px;
        padding-left: 30px;
    }
    .grid__item.purchase, .grid__item.detail{
        margin: 15px;
    }
}
@media screen and (min-width: 600px) {
    /*Galería*/
    .grid__container{
        display: grid;
        grid-template-columns: auto auto;
    }
    /*tabla margenes*/
    .columns.is-mobile.fuente__base{        
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (min-width: 900px) {
    /*Aumentar la cantidad de productos por fila*/
    .container__products{
        grid-template-columns: auto auto auto;
    }
    /*Cambiar el tamaño de letra y espaciado*/
    .fuente__base-justify, .fuente__base{
        line-height: 1.7;
        font-size: 1.25rem;
    }
    /*Cambiar el tamaño de fuente del slogan y footer*/
    .container__slogan p{
        font-size: 1.25rem;
    }
    .footer, .stock{
        font-size: 1rem;
    }
    /*Tamaños para el div que contiene el contenido de un item del carrito*/
    .body-carrito{
        margin: 80px;
        margin-bottom: 30px;
    }
    .columns.is-mobile.carrito{
        padding: 45px;
        padding-top: 0;
        font-size: 1.15rem;
    }
    .price{
        font-size: 1.5rem;
    }
    .title.xbtn{
        font-size: 2.15rem;
    }
    /*Este valor es calculado con el margin y padding del cuerpo del carrito*/
    .columns.pagar.is-vcentered{
        padding-right: 70.5px;
        padding-left: 70.5px;
    }
    /*mas margen en la imagen del producto*/
    .grid__item.purchase, .grid__item.detail{
        margin: 20px;
    }
    .price-p{
        font-size: 2.5rem;
    }
    /*Tabla*/
    .columns.is-mobile.fuente__base{        
        margin-left: 100px;
        margin-right: 100px;
    }

    /*Formulario de contacto*/
    .form-contact{
        padding: 15px 30px 15px 30px;
    }
}

@media screen and (min-width: 1024px) {
    .container__slogan p{
        padding:20px;
    }
}