/*Ajustes para no hacer scroll horizontal*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/*Colores*/
:root{
    --color-primary: #1870b2;
    --color-primary-reduced: rgb(24, 112, 178,0.1);
    --color-secondary: rgba(0, 0, 0, 0.1);
    --color-secondary-max: rgba(0, 0, 0, 0.3);
    --color-primary-text: #000000;
    --color-secondary-text: #FFFFFF;
}

/*Media Query*/

@media screen and (min-width: 600px) {

    .container__slogan .image, .container__login img{
        width: 50%;
        height: 10%;
    }

    .form-contact{
        padding: 0% 10% 0% 10%;
    }

    .container__slogan .subtitle{
        font-size: 1.3rem;
    }

    .is-primary, .is-light{
        font-size: 1.3rem;
    }

    .container__img{
        padding-top: 15% !important;
        height: 85vh !important;
        background-size: 100% 100% !important;
    }

    .container__img strong{
        font-size: 2rem !important;
    }

    .container__img a{
        font-size: 1.5rem !important;
    }

    .footer .has-text-centered{
        font-size: 1rem;
    }

    .container__products{
    grid-template-columns: auto auto !important;
    }
}

@media only screen and (min-width: 1024px) {

    .container__products{
    grid-template-columns: auto auto auto !important;
    }

    .container__img{
        padding-top: 10% !important;
        height: 100vh !important;
    }

    .container__img strong{
        font-size: 3.5rem !important;
    }

    .container__img a{
        font-size: 2.5rem !important;
    }

    .parrafo{
        display: grid;
        align-items: center;
        align-self: center;
    }

    .form-contact{
        padding: 0% 15% 0% 15%;
    }
}

/*Banner superior logo-frase*/
.is-primary{
    background-color: var(--color-primary) !important;
}

.container__img{
    height: 80vh;
    padding-top: 25%;
    background-image: url('img/atex_01.jpg');
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
}

.container__img strong{
    font-size: 2.7rem;
    color: var(--color-secondary-text);
    text-shadow: 5px 5px 5px var(--color-primary-text);
}

.container__img a{
    box-shadow: 5px 5px 5px var(--color-primary-text);
}

.container__slogan, .container__slogan div, .container__login, .container__login div{
    margin: 0 !important;
    padding: 0;
    background-color: var(--color-primary);
}

.container__login{
    padding-right: 10px !important;
}

.icons__login div{
    display: grid;
    padding-top: 15px;
    text-align: right;
}

.container__fields{
    background-color: var(--color-primary);
    padding: 2px 5px 15px 5px;
}

.container__fields div{
    display: grid;
    align-self: center;
    text-align: center;
    padding: 5px;
}
.text__slogan, .container__login{
    display: grid;
    align-self: center;
    text-align: center;
}

.text__slogan p{
    color: var(--color-secondary-text);
}

.container__products{
    display: grid;
    grid-template-columns: auto;
    margin: 5px;
}
.square__img{
    margin: 10px;
    padding: 0;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 30%)
}

.square__img img{
    width: 150px;
    height: 150px;
}

.description{
    padding: 2px;
    background-color: var(--color-primary);
    color: var(--color-secondary-text);
}

.price{
    font-size: 1.5rem;
}

.price-p{
    font-size: 2.5rem;
}

.discount{
    color: var(--color-secondary-max);
    font-size: 1.2rem;
}

button{
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
}

.content{
    padding: 10px;
}

.compra{
    margin: 0 !important;
    align-items: center;
}

.table__main, .table__detail{
    margin: 0;
    align-items: center;
}

.table__main div{
    border-color: var(--color-primary-text);
    border-top: groove;
    border-bottom: groove;
    padding: 5px;
}

.login__section{
    margin-top: 35px;
    padding-top: 35px;
    border-top:2px solid;
    border-color: var(--color-primary-reduced);
}

/*Footer*/
.footer{
    font-size: 0.8rem;
    color: var(--color-primary-text);
    background-color: var(--color-secondary);
    padding: 28px;
}

a{
    color: var(--color-primary);
}

.footer__col{
    border-right-style: groove;
    border-right-color: var(--color-primary);
}

